<?xml version="1.0"?>
<!--
/**
  * @copyright Copyright (c) 2026 SJMB (https://sjmb.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sjmb_env_info>
            <general>
                <mode>0</mode>
                <display_type>topbar</display_type>
            </general>
        </sjmb_env_info>
    </default>
</config>
