<?xml version="1.0"?>
<!--
/**
  * @copyright Copyright (c) 2026 SJMB (https://sjmb.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sjmb_EnvironmentInfo">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Config"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>